@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html { overflow-y: scroll; }
body { position: absolute; }

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

li {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  gap: 16px
  
}

button {
  padding: 10px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
}

.left-links {
  justify-self: flex-start;
  padding: 0px 8px;
}


.content {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input, .buttons {
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 8px;
}

.footer {
  background-color: #eeeeee;
  height: auto;
}

#settings, #terms {
  margin-right: 1rem !important;
}